<div class="row">
<div class="col-md-3">
	
<accordion>
<accordion-group heading="Properties">
  <ul>
    <li><a href="#/properties">Display All</a></li>
    <li>Add New</li>
  </ul>
</accordion-group>
<accordion-group heading="hello there">
  <ul>
    <li>first item</li>
    <li>first item</li>
  </ul>
</accordion-group>    
</accordion>	
</div>
<div class="col-md-6">
  <div class="panel panel-default">
      <div class="panel-body">
        center panel of dashboard
      </div>
  </div>
</div>
<div class="col-md-3">
	<div class="panel panel-default">
  		<div class="panel-body">
    		Basic panel example
  		</div>
	</div>
</div>
</div>