<div class="row">
<div class="col-md-3">
	
<accordion>
<accordion-group heading="Items">
   <ul>
    <li>first item</li>
    <li>first item</li>
  </ul>
</accordion-group>
<accordion-group heading="Items">
  <ul>
    <li>first item</li>
    <li>first item</li>
  </ul>
</accordion-group>    
</accordion>	
</div>
<div class="col-md-6">
  <div class="panel panel-default">
      <div class="panel-body">
        center panel
      </div>
  </div>
</div>
<div class="col-md-3">
	<div class="panel panel-default">
  		<div class="panel-body">
    		right panel
  		</div>
	</div>
</div>
</div>